@model MvcSiteMapProvider_CRUD_Example.Entity.ProductOption

@{
    ViewBag.Title = "Create New Option";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProductOption</legend>

        @Html.HiddenFor(model => model.ProductId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Product Details", "Details", "Product", new { productId = ViewContext.RouteData.Values["productId"] ?? Request.Params["productId"] }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
